<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    <%= subject %>
  </title>

  <%- include('styles/_style') %>
</head>

<body>
  <table class="body" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td></td>
        <td class="container">
          <div class="content">
            <!-- Rest of your HTML content -->
            <p>Hi <%= firstName %>,</p>
            </p>
           <p>
             Your order #<%= orders.orderId %> has been successfully delivered! We hope you are satisfied with your purchase.<br>
             We'd love to hear your thoughts. Could you please take a moment to leave us a review? Your feedback helps us improve and serve you better.<br>
             Thank you for choosing us!
           </p>

            <p style="font-weight: bold;">Order details</p>

            <ul>
              <li>Order id: <%= orders.orderId %></li>
              <li>Product name: <%= orders.productId.name %></li>
              <li>Quantity: <%= orders.quantity %></li>
              <li>Total: <%= orders.total %></li>
              <li>Payment method: <%= orders.paymentMethod %></li>
            </ul>

            <table class="btn btn-primary" role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>
                            <a href="<%= url %>" target="_blank">Review</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>If you need any help, please don't
              hesitate to contact us: support@michael-enterprise.com</p>
            <p>

            </p>
            <!-- Footer section -->
            <div class="footer">
              <table class="content-block" role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>
                      <span class="apple-link">Michael Enterprise, Берберовская 6с2, Rostov on Don, Russia</span>
                      <br />
                      Don't like these emails? <a href="#">Unsubscribe</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>