<%- include('partials/landingPageHead.ejs') %>

<div class="rts-navigation-area-breadcrumb">
  <div class="container-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="navigator-breadcrumb-wrapper">
          <a href="/">Home</a>
          <i class="fa-regular fa-chevron-right"></i>
          <a class="current" href="#">Account</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="account-tab-area-start rts-section-gap">
  <div class="container-2">
    <div class="row">
      <div class="col-lg-3">
        <div class="nav accout-dashborard-nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa-regular fa-chart-line"></i>Dashboard</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-regular fa-bag-shopping"></i>Order</button>
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa-sharp fa-regular fa-location-dot"></i>My Address</button>
          <button class="nav-link" id="v-pills-settingsa-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settingsa" type="button" role="tab" aria-controls="v-pills-settingsa" aria-selected="false"><i class="fa-light fa-user"></i>Account Details</button>
          <button class="nav-link signOut-user-btn2" id="v-pills-settingsb-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settingsb" type="button" role="tab" aria-controls="v-pills-settingsb" aria-selected="false"><a href="#"><i class="fa-light fa-right-from-bracket"></i>log Out</a></button>
        </div>
      </div>
      <div class="col-lg-9 pl--50 pl_md--10 pl_sm--10 pt_md--30 pt_sm--30">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            <div class="dashboard-account-area">
              <h2 class="title">Hello <%= user.firstName %>! (Not <%= user.firstName %>?) <a href="#" class="signOut-user-btn1">Log Out.</a></h2>
              <p class="disc">
                From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
            <div class="order-table-account">
              <div class="h2 title">Your Orders</div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Order Id</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Total</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach(function(order){ %>
                    <tr>
                      <td><%= order.orderId %></td>
                      <% let isoDate = order.createdAt; %>
                      <% let dateObj = new Date(isoDate); %>
                      <% let options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                      <% let formattedDate = dateObj.toLocaleDateString('en-US', options); %>
                      <td><%= formattedDate %></td>
                      <% if(order.status === 'Order placed'){ %>
                      <td><span class="badge text-bg-warning"><%= order.status %></span></td>
                      <% }else if(order.status === 'Shipped'){ %>
                      <td><span class="badge text-bg-primary"><%= order.status %></span></td>
                      <% }else if(order.status === 'Confirmed'){ %>
                      <td><span class="badge text-bg-primary"><%= order.status %></span></td>
                      <% }else if(order.status === 'Delivered'){ %>
                      <td><span class="badge text-bg-success"><%= order.status %></span></td>
                      <% }else { %>
                      <td><span class="badge text-bg-danger"><%= order.status %></span></td>
                      <% } %>

                      <td>₽<%= order.total %> for <%= order.quantity %> <%= order.quantity === 1 ? 'item' : 'items' %></td>
                      <td><a href="#" class="btn-small d-block view-details" data-order='<%= JSON.stringify(order) %>'>View Details</a></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>




          <div id="orderDetailsModal" class="modal" style="display: none; position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.4);">
            <div class="modal-content" style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 500px; border-radius: 10px;">
              <span class="close" style="color: #aaa; float: right; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
              <a id="modalLink" href=""><img id="modalImage" src="" alt="" style="width: 100%; height: auto;"></a>
              <h2 style="font-family: Arial, sans-serif; font-size: 24px; margin-bottom: 20px;">Order Details</h2>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Order ID:</strong> <span id="modalOrderId"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Date:</strong> <span id="modalOrderDate"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Status:</strong> <span id="modalOrderStatus"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Total:</strong> ₽<span id="modalOrderTotal"></span> for <span id="modalOrderQuantity"></span> items</p>
              <h2 style="font-family: Arial, sans-serif; font-size: 24px; margin-bottom: 20px;">Delivery Details</h2>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Full Name:</strong> <span id="modalFullName"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Address:</strong> <span id="modalAddress"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Phone Number:</strong> <span id="modalPhoneNumber"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Country:</strong> <span id="modalCountry"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>City:</strong> <span id="modalCity"></span></p>
              <p style="font-family: Arial, sans-serif; font-size: 18px; margin: 5px 0;"><strong>Region:</strong> <span id="modalRegion"></span></p>
            </div>
          </div>

          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
            <% if(shippingAddress){ %>
            <form class="account-details-area shipping-address-form">
              <h2 class="title">Shipping Address</h2>
              <input type="text" id="fullName" value="<%= shippingAddress.fullName %>" placeholder="Full Name*" required>
              <input type="text" id="address" value="<%= shippingAddress.address %>" placeholder="Address*" required>
              <input type="text" id="phoneNumber" value="<%= shippingAddress.phoneNumber %>" placeholder="Phone Number*" required>
              <input type="text" id="country" value="<%= shippingAddress.country %>" placeholder="Country*" required>
              <input type="text" id="region" value="<%= shippingAddress.region %>" placeholder="Region*" required>
              <input type="text" id="city" value="<%= shippingAddress.city %>" placeholder="City*" required>
              <button class="rts-btn btn-primary edit-address-btn" data-address-id="<%= shippingAddress.id %>">Save Changes</button>
            </form>
            <% } else{ %>
            <form class="account-details-area create-shipping-address-form">
              <h2 class="title">Shipping Address</h2>
              <input type="text" id="fullNames" placeholder="Full Name*" required>
              <input type="text" id="addresss" placeholder="Address*" required>
              <input type="text" id="phoneNumbers" placeholder="Phone Number*" required>
              <input type="text" id="countrys" placeholder="Country*" required>
              <input type="text" id="regions" placeholder="Region*" required>
              <input type="text" id="citys" placeholder="City*" required>
              <button class="rts-btn btn-primary save-address-btn">Save</button>
            </form>
            <% } %>


          </div>
          <div class="tab-pane fade" id="v-pills-settingsa" role="tabpanel" aria-labelledby="v-pills-settingsa-tab" tabindex="0">
            <form class="account-details-area update-user-data-form">
              <h2 class="title">Account Details</h2>
              <div class="input-half-area">
                <div class="single-input">
                  <input id="firstNames" value="<%= user.firstName %>" type="text" placeholder="First Name">
                </div>
                <div class="single-input">
                  <input id="lastNames" type="text" value="<%= user.lastName %>" placeholder="Last Name">
                </div>
              </div>
              <input id="emails" type="email" disabled value="<%= user.email %>">
              <input id="phoneNumbers" type="text" value="<%= user.phoneNumber %>" placeholder="Phone Number*">
              <button class="rts-btn btn-primary update-btn">Save Changes</button>
            </form>
            <form style="margin-top: 50px;" class="account-details-area user-password-update-form">
              <h2 class="title">Reset Password</h2>
              <input type="password" id="passwordCurrent" placeholder="Current Password*" required>
              <input type="password" id="password" placeholder="New Password*">
              <input type="password" id="passwordConfirm" placeholder="Confirm Password*">
              <button class="rts-btn btn-primary update-user-password-btn">Save Changes</button>
            </form>
          </div>
          <div class="tab-pane fade" id="v-pills-settingsb" role="tabpanel" aria-labelledby="v-pills-settingsb-tab" tabindex="0">...</div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/landingPageFooter.ejs') %>