<%- include('partials/adminDashboardHead.ejs') %>

<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Add Rate</h3>
          </div>
        </div>
      </div>
      <div class="nk-block">
        <div class="card">
          <div class="d-flex justify-content-center align-items-center" style="padding-top: 50px; padding-bottom: 50px;">
            <form class="add-rate-form">
              <div class="wide-xs w-100">
                <div class="row g-3">
                  <div class="col-12">
                    <div class="form-group"><label class="form-label">Base Currency</label>
                      <div class="form-control-wrap">
                        <select id="baseCurrency" class="js-select2 form-select" data-search="true" data-sort="false">
                          <option disabled value="">Select</option>
                          <% currencies.forEach(function(currency){ %>
                          <option value="<%= currency.code %>"><%= currency.code %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group"><label class="form-label">Target Currency</label>
                      <div class="form-control-wrap">
                        <select id="targetCurrency" class="js-select2 form-select" data-search="true" data-sort="false">
                          <option disabled value="">Select</option>
                          <% currencies.forEach(function(currency){ %>
                          <option value="<%= currency.code %>"><%= currency.code %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group"><label class="form-label" for="rate">Rate</label>
                      <div class="form-control-wrap"><input class="form-control" type="text" id="rate" placeholder="Rate" /></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group"><label class="form-label" for="visibleRate">Visible Rate</label>
                      <div class="form-control-wrap"><input class="form-control" type="text" id="visibleRate" placeholder="Visible Rate" /></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group"><label class="form-label">Direction</label>
                      <div class="form-control-wrap">
                        <select id="direction" class="js-select2 form-select" data-search="true" data-sort="false">
                          <option value="forward">Forward</option>
                          <option value="reverse">Reverse</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div style="margin-top: 15px;" class="col-12">
                    <div class="form-group">
                      <button class="btn btn-primary btn-block add-rate-btn">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/adminDashboardFooter.ejs') %>