<%- include('partials/adminDashboardHead.ejs') %>
<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Personal Information</h3>
            <div class="nk-block-des">
              <p>Basic info, like your name and email address</p>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-block">
        <div class="card">
          <ul class="nav nav-tabs nav-tabs-s1 px-4">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="profile.html#profile-tab-pane">Admin Profile</a></li>
          </ul>
          <div class="card-inner">
            <div class="tab-content mt-0">
              <div class="tab-pane fade show active" id="profile-tab-pane">
                <div class="nk-data data-list">
                  <div class="data-head">
                    <h6 class="overline-title">Personal Information</h6>
                  </div>
                  <p></p>
                  <form class="admin-profile-form">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" value="<%= user.firstName %>" id="firstName">
                    <p></p>
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" placeholder="First Name" value="<%= user.lastName %>" id="lastName">
                    <p></p>
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" placeholder="First Name" value="<%= user.email %>" id="email" disabled>
                    <p></p>
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" placeholder="First Name" value="<%= user.phoneNumber %>" id="phoneNumber">
                    <p></p>
                    <button class="btn btn-lg btn-primary send-mail-btn admin-profile-btn">Save Changes</button>
                  </form>
                </div>
                <div class="nk-data data-list">
                  <div class="data-head">
                    <h6 class="overline-title">Update Password</h6>
                  </div>
                  <p></p>
                  <form class="admin-password-form">
                    <label class="form-label" for="passwordCurrent">Current Password</label>
                    <input type="password" class="form-control" placeholder="********" id="passwordCurrent">
                    <p></p>
                    <label class="form-label" for="password">New Password</label>
                    <input type="password" class="form-control" placeholder="********" id="password">
                    <p></p>
                    <label class="form-label" for="passwordConfirm">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="********" id="passwordConfirm">
                    <p></p>
                    <button class="btn btn-lg btn-primary send-mail-btn admin-password-btn">Save Changes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/adminDashboardFooter.ejs') %>