<%- include('partials/adminDashboardHead.ejs') %>
<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between g-3">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Afro Shop Items</h3>
          </div>
          <div class="nk-block-head-content"><a href="/admin/add-products" class="btn btn-primary d-none d-sm-inline-flex"><em class="icon ni ni-plus"></em><span>Create New</span></a><a href="document-saved.html#" class="btn btn-icon btn-primary d-inline-flex d-sm-none"><em class="icon ni ni-plus"></em></a></div>
        </div>
      </div>
      <div class="nk-block">
        <div class="card card-stretch">
          <div class="card-inner p-0">
            <div class="tab-content">
              <div style="margin-top: 20px; margin-left: 40px;">
                <select id="categorySelectAdminAfroShop" class="form-select" style="width: 200px;" onchange="adminCategory()">
                  <option value="all">All Categories</option>
                  <% categories.forEach((category, index) => { %>
                  <% const formattedCategory = category.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' '); // Join the words back into a single string %>
                  <% const categorySlug = category.trim().toLowerCase().replace(/\s+/g, '-'); // Convert to slug%>
                  <option value="<%= categorySlug %>"><%= formattedCategory %></option>
                  <% }); %>
                </select>
                <p></p>
                <div>Showing page <span id="currentPageAdminAfro"><%= currentPage %></span> out of <span id="totalPagesAdminAfro"><%= totalPages %></span></div>
              </div>

              <% const currentSuperCategory = afroShopItems[0].superCategorySlug %>

              <p style="display: none;" id="currentSuperCategory"><%= currentSuperCategory %></p>

              <div style="overflow-x: auto;">
                <div style="margin-top: 30px;" class="table-responsive">
                  <table class="table table-bordered" style="min-width: 1000px;width: 2526px;">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Initial Price</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Description</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Category</th>
                        <th scope="col">Product Stock</th>
                        <th scope="col">View Product</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (afroShopItems.length === 0) { %>
                      <p style="text-align: center; font-size: large; margin-top: 50px;">No products found matching your search criteria.</p>
                      <% }else{ %>
                      <% afroShopItems.forEach(function(item, index){ %>
                      <tr style="height: 60px;">
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= item.name %></td>
                        <td><%= item.price %></td>
                        <td><%= item.initialPrice %></td>
                        <td><%= item.availability %></td>
                        <td><%= item.description %></td>
                        <td><%= item.summary %></td>
                        <td><%= item.category %></td>
                        <td><%= item.productStock %></td>
                        <td><a href="/product/<%= item.superCategorySlug %>/<%= item.categorySlug %>/<%= item.slug %>" target="_blank">View</a></td>
                        <td><a class="edit-afro-modal-toggler" href="#" data-product-id="<%= item.id %>" data-bs-toggle="modal" data-bs-target="#profile-afro-product"><i class="fa-solid fa-pen-to-square fa-xl"></i></a></td>
                      </tr>
                      <% }) %>
                      <% } %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <div class="modal fade" role="dialog" id="profile-afro-product">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content"><a href="profile.html#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                  <div class="modal-body modal-body-lg">
                    <h5 class="title">Edit Product</h5>
                    <ul class="nk-nav nav nav-tabs">
                      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="profile.html#personal">Product</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                          <div class="form-group">
                            <label class="form-label" for="name">Product Name</label>
                            <input type="text" class="form-control form-control-lg" id="name" placeholder="Product Name">
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="price">Price</label>
                            <input type="text" class="form-control form-control-lg" id="price" placeholder="Price">
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="initialPrice">Initial Price</label>
                            <input type="text" class="form-control form-control-lg" id="initialPrice" placeholder="Initial Price">
                          </div>
                          <div class="form-group">
                            <label class="form-label">Availability</label>
                            <div class="form-control-wrap">
                              <select id="availability" class="js-select2 form-select" data-search="true" data-sort="false">
                                <option disabled value="" selected>Select</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="description">Description</label>
                            <textarea id="description" class="form-control form-control-lg date-picker"></textarea>
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="summary">Summary</label>
                            <textarea id="summary" class="form-control form-control-lg date-picker"></textarea>
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="productStock">Product Quantity</label>
                            <input type="text" class="form-control form-control-lg" id="productStock" placeholder="Quantity">
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="imageCover">Image Cover</label>
                            <input type="file" class="form-control form-control-lg" accept=".png, .jpg, .jpeg" id="imageCover">
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="images">Images</label>
                            <input type="file" class="form-control form-control-lg" id="images" accept=".png, .jpg, .jpeg" multiple>
                          </div>
                        </div>
                        <p></p>
                        <div class="col-12">
                          <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li><a href="#" class="btn btn-lg btn-primary update-afro-product-btn">Update Product</a></li>
                            <li><a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
        <div class="card-inner">
          <ul class="pagination" style="display: flex; justify-content: space-between; width: 100%;">
            <li class="page-item">
              <button id="previous-btn-afro-shop" style="padding: 8px 18px; font-size: 14px; border-radius: 8px; font-weight: bold;" class="page-link" onclick="updateURLAdminAfro('prev')">Prev</button>
            </li>
            <li class="page-item">
              <button id="next-btn-afro-shop" style="padding: 8px 18px; font-size: 14px; border-radius: 8px; font-weight: bold;" class="page-link" onclick="updateURLAdminAfro('next')">Next</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/adminDashboardFooter.ejs') %>