<%- include('partials/landingPageHead.ejs') %>

<!-- rts navigation bar area start -->
<div class="rts-navigation-area-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="navigator-breadcrumb-wrapper">
          <a href="/">Home</a>
          <i class="fa-regular fa-chevron-right"></i>
          <a class="current" href="/afro-shop">Afro Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts navigation bar area end -->
<div class="section-seperator">
  <div class="container">
    <hr class="section-seperator">
  </div>
</div>

<!-- shop[ grid sidebar wrapper -->
<div class="shop-grid-sidebar-area rts-section-gap">
  <div class="container">
    <div class="row g-0">
      <div class="col-xl-3 col-lg-12 pr--70 pr_lg--10 pr_sm--10 pr_md--5 rts-sticky-column-item">
        <div class="sidebar-filter-main theiaStickySidebar">
          <div class="single-filter-box">
            <h5 class="title">Widget Price Filter</h5>
            <div class="filterbox-body">
              <form class="price-input-area">
                <div class="half-input-wrapper">
                  <div class="single">
                    <label for="min">Min price</label>
                    <input id="min" type="text" value="0">
                  </div>
                  <div class="single">
                    <label for="max">Max price</label>
                    <input id="max" type="text" value="150">
                  </div>
                </div>
                <input type="range" class="range">
                <div class="filter-value-min-max">
                  <span>Price: ₽10 — ₽90</span>
                  <button class="rts-btn btn-primary">Filter</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xl-9 col-lg-12">
        <div class="filter-select-area">
          <div class="top-filter">
            <span>Showing Page <span id="currentPage"><%= currentPage %></span> of <span id="totalPages"><%= totalPages %></span></span>
            <div class="right-end">
              <div class="button-tab-area">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link single-button active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="6" height="6" rx="1.5" stroke="#2C3B28" />
                        <rect x="0.5" y="9.5" width="6" height="6" rx="1.5" stroke="#2C3B28" />
                        <rect x="9.5" y="0.5" width="6" height="6" rx="1.5" stroke="#2C3B28" />
                        <rect x="9.5" y="9.5" width="6" height="6" rx="1.5" stroke="#2C3B28" />
                      </svg>
                    </button>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="nice-select-area-wrapper-and-button">
            <div class="nice-select-wrapper-1">
              <div class="single-select">
                <select id="categorySelect" onchange="myFunction()">
                  <option value="all">All Categories</option>
                  <% categories.forEach((category, index) => { %>
                  <% const formattedCategory = category.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' '); // Join the words back into a single string %>
                  <% const categorySlug = category.trim().toLowerCase().replace(/\s+/g, '-'); // Convert to slug%>
                  <option value="<%= categorySlug %>"><%= formattedCategory %></option>
                  <% }); %>
                </select>
              </div>
              <div class="single-select">
                <select>
                  <option data-display="Sort By">Sort By</option>
                  <!-- <option value="1">Some option</option>
                  <option value="2">Another option</option>
                  <option value="3" disabled>A disabled option</option>
                  <option value="4">Potato</option> -->
                </select>
              </div>
            </div>
            <div class="button-area">
              <button class="rts-btn">Filter</button>
              <button class="rts-btn">Reset Filter</button>
            </div>
          </div>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="product-area-wrapper-shopgrid-list mt--20 tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row g-4">
              <% if (afroShopItems.length === 0) { %>
              <p style="text-align: center; font-size: large; margin-top: 50px;">No products found matching your search criteria.</p>
              <% } else { %>
              <% afroShopItems.forEach(function(item){ %>
              <div class="col-lg-20 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-shopping-card-one">
                  <!-- image and section area start -->
                  <div class="image-and-action-area-wrapper">
                    <a href="/afro-shop/<%= item.slug %>" class="thumbnail-preview">
                      <!-- <div class="badge">
                        <span>25% <br>
                          Off
                        </span>
                        <i class="fa-solid fa-bookmark"></i>
                      </div> -->
                      <img src="<%= item.imageCover %>" alt="grocery">
                    </a>
                  </div>

                  <!-- image and section area start -->

                  <div class="body-content">

                    <a href="/afro-shop/<%= item.slug %>">
                      <h4 class="title"><%= item.name %></h4>
                    </a>
                    <div class="price-area">
                      <span class="current">₽<%= item.price %></span>
                      <div class="previous">₽<%= item.initialPrice %></div>
                    </div>
                    <div class="cart-counter-action">
                      <!-- <div class="quantity-edit">
                        <input type="text" class="input" value="1">
                        <div class="button-wrapper-action">
                          <button class="button"><i class="fa-regular fa-chevron-down"></i></button>
                          <button class="button plus">+<i class="fa-regular fa-chevron-up"></i></button>
                        </div>
                      </div> -->
                      <% if(user){ %>
                      <a href="#" class="rts-btn btn-primary radious-sm with-icon add-to-cart-btn" data-product-id="<%= item.id %>">
                        <div class="btn-text btn-cart">
                          Add To Cart
                        </div>
                        <div class="arrow-icon">
                          <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                        <div class="arrow-icon">
                          <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                      </a>
                      <% }else{ %>
                      <a href="/sign-in" class="rts-btn btn-primary radious-sm with-icon">
                        <div class="btn-text">
                          Add To Cart
                        </div>
                        <div class="arrow-icon">
                          <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                        <div class="arrow-icon">
                          <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                      </a>
                      <% } %>

                    </div>
                  </div>
                </div>
              </div>
              <% }) %>

              <% } %>

            </div>
          </div>

        </div>
        <ul class="pagination" style="display: flex; justify-content: space-between; width: 100%;">
          <li class="page-item">
            <button class="page-link" id="previous-btn" style="padding: 8px 18px; font-size: 14px; border-radius: 8px; color: #5F1303; font-weight: bold; border-color: #5F1303;" onclick="updateURL('prev')">Prev</button>
          </li>
          <li class="page-item">
            <button class="page-link" id="next-btn" style="padding: 8px 18px; font-size: 14px; border-radius: 8px; color: #5F1303; font-weight: bold; border-color: #5F1303;" onclick="updateURL('next')">Next</button>
          </li>
        </ul>


      </div>
    </div>
  </div>
</div>
<!-- shop[ grid sidebar wrapper end -->


<%- include('partials/landingPageFooter.ejs') %>