<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Michael Enterprise Exchange provides reliable and hassle-free exchange services, ensuring fast, secure, and transparent transactions tailored to meet your financial needs.">
  <meta name="keywords" content="michael enterprise, russia, rubbles, naira, naira, exchange">
  <title>Michael Enterprise | <%= title %></title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/fav1.png">
  <meta property="og:title" content="Michael Enterprise Exchange" />
  <meta property="og:url" content="https:michael-enterprise.com/exchange/index" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/images/exchange-small.jpg" />
  <meta property="og:description" content="Michael Enterprise Exchange provides reliable and hassle-free exchange services, ensuring fast, secure, and transparent transactions tailored to meet your financial needs. 
" />
  <meta property="og:site_name" content="Michael Enterprise" />
  <!-- toastr -->
  <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/assets/css/styleExchange.css">
  <script src="https://kit.fontawesome.com/fe5872a91f.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="preloader">

    <!-- <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div> -->
  </div>

  <div class="main-wrapper">
    <div style="background-color: #5F1303; height: 30px; width: 100%; text-align: center;">
      <ul style="list-style: none; display: flex; gap: 30px; padding: 0; margin: 0; justify-content: center;">
        <li style="color: white;"><a style="color: white;" href="/afro-shop/index" target="_blank"><i class="fa-solid fa-shop fa-shake"></i> Afro Shop</a></li>
        <li style="color: white;"><a style="color: white;" href="javascript:void(0);" target="_blank"><i class="fa-solid fa-laptop fa-shake"></i> Gadgets</a></li>
        <li style="color: white;"><a style="color: white;" href="/michael-kitchen/index" target="_blank"><i class="fa-solid fa-kitchen-set fa-shake"></i> Kitchen</a></li>
      </ul>

    </div>
    <!--===================== Sidebar Start =====================-->
    <section class="sidebar">
      <nav class="navbar navbar-expand-lg navbar-light flex-nowrap flex-column justify-content-between align-items-start p-0">
        <div class="mb-lg-5 w-100">
          <div class="d-none d-lg-block">
            <a class="navbar-brand d-flex align-items-start mb-5" href="/">
              <img style="width: 150px; height: auto;" src="/assets/images/logo-01.png" alt="" class="mb-2">
              <!-- <span class="fw-bold ms-2">Treemium</span> -->
            </a>
          </div>
          <div class="collapse navbar-collapse collapse show" id="navbarNavAltMarkup">
            <ul class="navbar-nav flex-row flex-lg-column justify-content-between align-items-center align-items-lg-start">
              <li>
                <a class="nav-link d-flex align-items-center" href="/exchange/index" data-tooltip="home" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-home-circle"></i>
                    <div class="nav-text s-none d-md-block">Home</div>
                  </div>
                </a>
              </li>
              <li>
                <a class="nav-link d-flex align-items-center @@buy-sell" href="/exchange/money-exchange" data-tooltip="exchange" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-repeat"></i>
                    <div class="nav-text s-none d-md-block">exchange</div>
                  </div>
                </a>
              </li>
              <li>
                <a class="nav-link d-flex align-items-center @@accounts" href="/exchange/history" data-tooltip="history" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-clock-outline"></i>
                    <div class="nav-text s-none d-md-block">History</div>
                  </div>
                </a>
              </li>
              <li>
                <a class="nav-link d-flex align-items-center @@settings active" href="/exchange/beneficiaries" data-tooltip="beneficiary" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-account-multiple"></i>
                    <div class="nav-text s-none d-md-block">Beneficiary</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-none d-lg-block w-100 pb-5">
          <div class="social_icon ms-0 ps-0 mb-2">
            <a target="_blank" href="https://www.instagram.com/michael_enterprise?igsh=d3EzMTAyZ3VpZHdl"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href=" https://vk.com/club227320115"><i class="fab fa-vk"></i></a>
            <a target="_blank" href="https://wa.me/+79954459255"><i class="fab fa-whatsapp"></i></a>
            <a target="_blank" href="https://t.me/micenterprise"><i class="fab fa-telegram"></i></a>
          </div>
          <div class="copyright">
            <p>&copy;
              2024
              <a href="https://michael-enetprise.com" target="_blank">Michael Enterprise</a>
            </p>
          </div>
        </div>
      </nav>
    </section>
    <!--===================== Sidebar End =====================-->
    <section class="ms-lg-240 px-lg-4 px-xl-0 mb-100 mb-lg-0">
      <!--===================== Navigation Start =====================-->
      <div class="navigation-2 d-flex sticky-top px-lg-4 px-xl-0">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
              <div class="d-block d-lg-none">
                <a class="navbar-brand d-flex align-items-start" href="/">
                  <img style="width: 100px; height: auto;" src="/assets/images/logo-01.png" alt="" class="mb-2">
                </a>
              </div>
              <div class="search-form">

              </div>
              <div style="display: flex; justify-content: right; width: 100%;">
                <button style="background-color: white; border: none; padding: 5px 10px; border-radius: 5px;">
                  <div class="gtranslate_wrapper"></div>
                  <script>
                    window.gtranslateSettings = {
                      "default_language": "en",
                      "native_language_names": true,
                      "detect_browser_language": true,
                      "languages": ["en", "ru", "uk", "ar", "zh-CN", "zh-TW", "es", "fr", "pt", "nl"],
                      "wrapper_selector": ".gtranslate_wrapper",
                      "flag_size": 24
                    }
                  </script>
                  <script src="https://cdn.gtranslate.net/widgets/latest/popup.js" defer></script>
                </button>
              </div>

              <!-- search form end -->
              <div class="d-flex align-items-center">

                <div class="dropdown text-center text-sm-start">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown">
                    <span class="user-icon rounded-circle text-white"><i class="mdi mdi-account"></i></span>
                    <span class="user-name fw-medium ms-2 d-none d-sm-inline-block"><%= user.firstName %> <%= user.lastName %></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-light w-100 box-shadow border-0 p-0 mt-2 rounded" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="/exchange/account"><i class="mdi mdi-account"></i>account</a></li>
                    <li><a class="dropdown-item" href="/exchange/history"><i class="la la-book"></i>history</a></li>
                    <li><a class="dropdown-item logout signOut-user-btn" style="cursor: pointer;"><i class="mdi mdi-logout"></i>logout</a></li>
                  </ul>
                </div>
                <!-- dropdown end -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--===================== Navigation End =====================-->
      <!--===================== Content body Start =====================-->
      <div class="content-body">
        <!--===================== Page title Start =====================-->
        <div class="page_title">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="page_title-content">
                  <!-- <p>Welcome Back,<span> Carla Pascle</span></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--===================== Page title End =====================-->
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="card table-card border-0 rounded-default px-4 py-3 box-shadow">
                <div class="card-header bg-transparent border-0 p-0">
                  <h5 class="card-title border-0 p-0 pb-2">Beneficiaries</h5>
                </div>
                <div class="card-body p-0">
                  <table>
                    <tbody>
                      <% if(beneficiaries.length === 0){ %>
                      <p style="text-align: center; color: #5F1303;">No beneficiaries yet</p>
                      <% } else{ %>
                      <% beneficiaries.forEach(function(beneficiary, i) { %>
                      <tr>

                        <!-- <td data-label="Arrow Icon"><i class="la la-arrow-down fa-md rounded-circle text-white bg-danger"></i></td> -->
                        <td data-label="S/N"><span class="text-purple-200 fw-bold"><%= i + 1 %></span></td>
                        <td data-label="Account Name"><span class="text-purple-200 fw-bold"><%= beneficiary.accountName %></span></td>
                        <td data-label="Bank"><span class="text-purple-200 fw-bold"><%= beneficiary.bankName %></span></td>
                        <td data-label="Account Number"><span class="text-purple-200 fw-bold"><%= beneficiary.accountNumber %></span></td>
                        <td data-label="Delete"><span class="text-purple-200 fw-bold"><a data-bs-toggle="modal" data-beneficiary-id="<%= beneficiary.id %>" style="cursor: pointer;" class="delete-beneficiary-modal" data-bs-target="#deleteModal"><i class="fas fa-trash fa-lg" style="color: #5F1303;"></i></a></span></td>
                        <td data-label="Edit"><span class="text-purple-200 fw-bold"><a data-bs-toggle="modal" data-beneficiary-id="<%= beneficiary.id %>" style="cursor: pointer;" class="edit-beneficiary-modal" data-bs-target="#editModal"><i class="fas fa-pen fa-lg" style="color: #5F1303;"></i></a></span></td>
                      </tr>
                      <% }) %>
                      <% } %>


                    </tbody>
                  </table>
                </div>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p style="font-size: large; margin-left: 2rem;">Are you sure?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="background-color: #5F1303;" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary delete-beneficiary-btn">Yes, delete</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Edit Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-12 col-xl-12">
                            <div class="row">
                              <div class="col-xl-12">
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card-title">Beneficiary Details</h4>
                                  </div>
                                  <div class="card-body">
                                    <form action="settings.html">
                                      <div class="form-row">
                                        <div class="form-group">
                                          <label class="mr-sm-2">Account Name</label>
                                          <input type="text" class="form-control" id="accountNames" placeholder="Account Name">
                                        </div>
                                        <div class="form-group">
                                          <label class="mr-sm-2">Bank Name</label>
                                          <input type="text" class="form-control" id="bankNames" placeholder="Bank Name">
                                        </div>
                                        <div class="form-group">
                                          <label class="mr-sm-2">Account Number</label>
                                          <input type="text" class="form-control" id="accountNumbers" placeholder="Account Number">
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>





                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="background-color: #5F1303;" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary update-beneficiary-btn">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--===================== Content body End =====================-->
    </section>
  </div>
  <%- include('partials/exchangeFooter.ejs') %>