<%- include('partials/landingPageHeader.ejs') %>

<!-- Breadcrumb Section Start -->
<section class="breadcrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-contain">
          <h2>Cart</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item active">Cart</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Cart Section Start -->
<section class="cart-section section-b-space">
  <div class="container-fluid-lg">
    <div class="row g-sm-5 g-3">
      <div class="col-xxl-9">
        <div class="cart-table">
          <div class="table-responsive-xl">
            <table class="table">
              <tbody>
                <% if(carts.length === 0){ %>
                <h3 style="text-align: center;">Your cart is empty!</h3>
                <div style="height: 10px;"></div>
                <!-- <div style="display: flex; justify-content: center;">
                  <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white login-btn" onclick="location.href = '/shop';" style="border-radius: 5px;">Start Shopping
                  </button>
                </div> -->

                <% }else{ %>
                <% carts.forEach(function(cart){ %>
                <tr class="product-box-contain">
                  <td class="product-detail">
                    <div class="product border-0">
                      <a href="/product/<%= cart.productId.superCategorySlug %>/<%= cart.productId.categorySlug %>/<%= cart.productId.slug %>" class="product-image">
                        <img src="<%= cart.productId.imageCover %>" class="img-fluid blur-up lazyload" loading="lazy" alt="">
                      </a>
                      <div class="product-detail">
                        <ul>
                          <li class="name">
                            <a href="/product/<%= cart.productId.superCategorySlug %>/<%= cart.productId.categorySlug %>/<%= cart.productId.slug %>"><%= cart.productId.name %></a>
                          </li>

                          <li class="text-content"><span class="text-title"></span></li>

                          <li class="text-content"><span class="text-title"></span></li>

                          <li>
                            <h5 class="text-content d-inline-block">Price :</h5>
                            <span>₽<%= cart.productId.price %></span>
                            <span class="text-content"></span>
                          </li>

                          <li>
                            <h5 class="saving theme-color"></h5>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>

                  <td class="price">
                    <h4 class="table-title text-content">Price</h4>
                    <h5>₽<%= cart.productId.price %></h5>
                    <h6 class="theme-color"></h6>
                  </td>

                  <td class="quantity">
                    <h4 class="table-title text-content">Qty</h4>
                    <div class="quantity-price">
                      <div class="cart_qty">
                        <div class="input-group">
                          <button type="button" class="btn qty-left-minus minus-cart" data-product-id="<%= cart.productId.id %>" data-type="minus" data-field="">
                            <i class="fa fa-minus ms-0"></i>
                          </button>
                          <input class="form-control input-number qty-input" type="text" name="quantity" value="<%= cart.quantity %>">
                          <button type="button" class="btn qty-right-plus plus-cart" data-product-id="<%= cart.productId.id %>" data-type="plus" data-field="">
                            <i class="fa fa-plus ms-0"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="subtotal">
                    <h4 class="table-title text-content">Total</h4>
                    <% const total = cart.total %>
                    <h5>₽<%= total %></h5>
                  </td>

                  <td class="save-remove">
                    <h4 class="table-title text-content">Action</h4>
                    <!-- <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a> -->
                    <a class="remove close_button remove-cart" data-product-id="<%= cart.productId.id %>" style="cursor: pointer;">Remove</a>
                  </td>
                </tr>
                <% }) %>

                <% } %>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-xxl-3">
        <div class="summery-box p-sticky">
          <div class="summery-header">
            <h3>Cart Total</h3>
          </div>

          <div class="summery-contain">
            <!-- <div class="coupon-cart">
              <h6 class="text-content mb-2">Coupon Apply</h6>
              <div class="mb-3 coupon-box input-group">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Coupon Code Here...">
                <button class="btn-apply">Apply</button>
              </div>
            </div> -->
            <ul>
              <!-- <li>
                <h4>Subtotal</h4>
                <h4 class="price">$125.65</h4>
              </li> -->

              <!-- <li>
                <h4>Coupon Discount</h4>
                <h4 class="price">(-) 0.00</h4>
              </li> -->

              <li class="align-items-start">
                <h4>Delivery fee will be paid by customer to the courier on receiving the goods.</h4>
                <!-- <h4 class="price text-end">$6.90</h4> -->
              </li>
            </ul>
          </div>

          <ul class="summery-total">
            <li class="list-total border-top-0">
              <h4>Total (RUB)</h4>
              <% grandTotal = 0 %>
              <% carts.forEach(function(cart){ %>
              <% const cartItemTotal = cart.total %>
              <% grandTotal += cartItemTotal %>
              <% }) %>
              <h4 class="price theme-color">₽<%= grandTotal %></h4>
            </li>
          </ul>

          <div class="button-group cart-button">
            <ul>
              <li>
                <% if(carts.length <= 0){ %>
                <button class="btn btn-animation proceed-btn fw-bold" disabled>Process To Checkout</button>
                <% }else{ %>
                <button class="btn btn-animation proceed-btn fw-bold" onclick="location.href = '/checkout/<%= carts[0].productId.superCategorySlug %>';">Process To Checkout</button>
                <% } %>

              </li>

              <!-- <li>
                <button onclick="location.href = '/shop';" class="btn btn-light shopping-button text-dark">
                  <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</button>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Cart Section End -->

<%- include('partials/landingPageFooter.ejs') %>