<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Michael Enterprise Exchange provides reliable and hassle-free exchange services, ensuring fast, secure, and transparent transactions tailored to meet your financial needs.">
  <meta name="keywords" content="michael enterprise, russia, rubbles, naira, naira, exchange">
  <title>Michael Enterprise | <%= title %></title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/fav1.png">
  <meta property="og:title" content="Michael Enterprise Exchange" />
  <meta property="og:url" content="https:michael-enterprise.com/exchange/index" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/images/exchange-small.jpg" />
  <meta property="og:description" content="Michael Enterprise Exchange provides reliable and hassle-free exchange services, ensuring fast, secure, and transparent transactions tailored to meet your financial needs. 
" />
  <meta property="og:site_name" content="Michael Enterprise" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Michael Enterprise",
      "url": "https://www.michaelenterprise.com",
      "logo": "https://www.michaelenterprise.com/assets/images/logo-01.png",
      "description": "Michael Enterprise offers Afrocentric products, kitchen essentials, gadget solutions, and exchange services with a focus on quality, innovation, and customer satisfaction.",
      "sameAs": [
        "https://www.instagram.com/michael_enterprise?igsh=d3EzMTAyZ3VpZHdl",
        "https://vk.com/club227320115",
        "https://t.me/micenterprise"
      ]
    }
  </script>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/fav1.png">
  <!-- toastr -->
  <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/assets/css/styleExchange.css">
  <script src="https://kit.fontawesome.com/fe5872a91f.js" crossorigin="anonymous"></script>
</head>

<body style="margin-top: 20px;">
  <div id="preloader">

    <!-- <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div> -->
  </div>

  <div class="main-wrapper">
    <div style="background-color: #5F1303; height: 30px; width: 100%; text-align: center; position: fixed; top: 0; left: 0; z-index: 9999;">
      <ul style="list-style: none; display: flex; gap: 30px; padding: 0; margin: 0; justify-content: center; align-items: center; height: 100%;">
        <li><a style="color: white;" href="/afro-shop/index" target="_blank"><i class="fa-solid fa-shop fa-shake"></i> Afro Shop</a></li>
        <li><a style="color: white;" href="javascript:void(0);" target="_blank"><i class="fa-solid fa-laptop fa-shake"></i> Gadgets</a></li>
        <li><a style="color: white;" href="/michael-kitchen/index" target="_blank"><i class="fa-solid fa-kitchen-set fa-shake"></i> Kitchen</a></li>
      </ul>
    </div>
    <!--===================== Sidebar Start =====================-->
    <section class="sidebar">
      <nav class="navbar navbar-expand-lg navbar-light flex-nowrap flex-column justify-content-between align-items-start p-0">
        <div class="mb-lg-5 w-100">
          <div class="d-none d-lg-block">
            <a class="navbar-brand d-flex align-items-start mb-5" href="/">
              <img style="width: 150px; height: auto;" src="/assets/images/logo-01.png" alt="" class="mb-2">
              <!-- <span class="fw-bold ms-2">Treemium</span> -->
            </a>
          </div>
          <div class="collapse navbar-collapse collapse show" id="navbarNavAltMarkup">
            <ul class="navbar-nav flex-row flex-lg-column justify-content-between align-items-center align-items-lg-start">
              <li>
                <a class="nav-link d-flex align-items-center" href="/exchange/index" data-tooltip="home" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-home-circle"></i>
                    <div class="nav-text s-none d-md-block">Home</div>
                  </div>
                </a>
              </li>
              <li>
                <a class="nav-link d-flex align-items-center @@buy-sell" href="/exchange/money-exchange" data-tooltip="exchange" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-repeat"></i>
                    <div class="nav-text s-none d-md-block">exchange</div>
                  </div>
                </a>
              </li>
              <li>
                <a class="nav-link d-flex align-items-center @@accounts active" href="/exchange/history" data-tooltip="history" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-clock-outline"></i>
                    <div class="nav-text s-none d-md-block">History</div>
                  </div>
                </a>
              </li>
              <li>
                <a class="nav-link d-flex align-items-center @@settings" href="/exchange/beneficiaries" data-tooltip="beneficiary" data-placement="top">
                  <div class="d-flex d-md-inline-flex flex-column flex-md-row align-items-center">
                    <i class="mdi mdi-account-multiple"></i>
                    <div class="nav-text s-none d-md-block">Beneficiary</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-none d-lg-block w-100 pb-5">
          <div class="social_icon ms-0 ps-0 mb-2">
            <a target="_blank" href="https://www.instagram.com/michael_enterprise?igsh=d3EzMTAyZ3VpZHdl"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href=" https://vk.com/club227320115"><i class="fab fa-vk"></i></a>
            <a target="_blank" href="https://wa.me/+79954459255"><i class="fab fa-whatsapp"></i></a>
            <a target="_blank" href="https://t.me/micenterprise"><i class="fab fa-telegram"></i></a>
          </div>
          <div class="copyright">
            <p>&copy;
              2024
              <a href="https://michael-enetprise.com" target="_blank">Michael Enterprise</a>
            </p>
          </div>
        </div>
      </nav>
    </section>
    <!--===================== Sidebar End =====================-->
    <section class="ms-lg-240 px-lg-4 px-xl-0 mb-100 mb-lg-0">
      <!--===================== Navigation Start =====================-->
      <div class="navigation-2 d-flex sticky-top px-lg-4 px-xl-0">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
              <div class="d-block d-lg-none">
                <a class="navbar-brand d-flex align-items-start" href="/">
                  <img style="width: 100px; height: auto;" src="/assets/images/logo-01.png" alt="" class="mb-2">
                </a>
              </div>
              <div class="search-form">

              </div>
              <div style="display: flex; justify-content: right; width: 100%;">
                <button style="background-color: white; border: none; padding: 5px 10px; border-radius: 5px;">
                  <div class="gtranslate_wrapper"></div>
                  <script>
                    window.gtranslateSettings = {
                      "default_language": "en",
                      "native_language_names": true,
                      "detect_browser_language": true,
                      "languages": ["en", "ru", "uk", "ar", "zh-CN", "zh-TW", "es", "fr", "pt", "nl"],
                      "wrapper_selector": ".gtranslate_wrapper",
                      "flag_size": 24
                    }
                  </script>
                  <script src="https://cdn.gtranslate.net/widgets/latest/popup.js" defer></script>
                </button>
              </div>
              <!-- search form end -->
              <div class="d-flex align-items-center">

                <div class="dropdown text-center text-sm-start">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown">
                    <span class="user-icon rounded-circle text-white"><i class="mdi mdi-account"></i></span>
                    <span class="user-name fw-medium ms-2 d-none d-sm-inline-block"><%= user.firstName %> <%= user.lastName %></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-light w-100 box-shadow border-0 p-0 mt-2 rounded" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="/exchange/account"><i class="mdi mdi-account"></i>account</a></li>
                    <li><a class="dropdown-item" href="/exchange/history"><i class="la la-book"></i>history</a></li>
                    <li><a class="dropdown-item logout signOut-user-btn" style="cursor: pointer;"><i class="mdi mdi-logout"></i>logout</a></li>
                  </ul>
                </div>
                <!-- dropdown end -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--===================== Navigation End =====================-->

      <!--===================== Content body Start =====================-->
      <div class="content-body">
        <!--===================== Page title Start =====================-->
        <div class="page_title">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="page_title-content">
                  <!-- <p>Welcome Back,<span> Carla Pascle</span></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--===================== Page title End =====================-->
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="card table-card border-0 rounded-default px-4 py-3 box-shadow">
                <div class="card-header bg-transparent border-0 p-0">
                  <h5 class="card-title border-0 p-0 pb-2">Transaction History</h5>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table>
                      <tbody>
                        <% if(transactionHistory.length === 0){ %>
                        <p style="text-align: center; color: #5F1303;">No Transactions yet</p>
                        <% } else { %>
                        <% transactionHistory.forEach(function(transaction, i){ %>
                        <tr>
                          <!-- <td data-label="Arrow Icon"><i class="la la-arrow-down fa-md rounded-circle text-white bg-danger"></i></td> -->
                          <td data-label="S/N"><span class="text-purple-200 fw-bold"><%= i + 1 %></span></td>
                          <td data-label="Reference"><span class="text-purple-200 fw-bold"><%= transaction.reference %></span></td>
                          <td data-label="Sender Account"><span class="text-purple-200 fw-bold"><%= transaction.senderName %></span></td>
                          <td data-label="Sender Number"><span class="text-purple-200 fw-bold"><%= transaction.senderPhoneNumber %></span></td>
                          <td data-label="Amount Sent"><span class="text-purple-200 fw-bold"><%= transaction.baseCurrency %> <%= transaction.amountSent %></span></td>
                          <td data-label="Amount Received"><span class="text-purple-200 fw-bold"><%= transaction.targetCurrency %> <%= transaction.amountToReceive %></span></td>
                          <td data-label="Bank Name"><span class="text-purple-200 fw-bold"><%= transaction.bankName%></span></td>
                          <td data-label="Account Number"><span class="text-purple-200 fw-bold"><%= transaction.accountNumber %></span></td>
                          <td data-label="Amount Name"><span class="text-purple-200 fw-bold"><%= transaction.accountName %></span></td>
                          <% const timeStamp = transaction.createdAt %>
                          <% const date = timeStamp.toLocaleDateString() %>
                          <% const time = timeStamp.toLocaleTimeString() %>
                          <td data-label="Date"><span class="text-purple-200 fw-bold"><%= date %> (<%= time %>)</span></td>
                          <% if(transaction.status === 'Pending'){ %>
                          <td data-label="Status"><span class="badge inline-flex align-items-center bg-warning text-white">Pending</span></td>
                          <% }else if(transaction.status === 'Success'){ %>
                          <td data-label="Status"><span class="badge inline-flex align-items-center bg-success text-white">Success</span></td>
                          <% } else if (transaction.status === 'Declined'){ %>
                          <td data-label="Status"><span class="badge inline-flex align-items-center bg-danger text-white">Declined</span></td>
                          <% } %>
                        </tr>
                        <% } )%>

                        <% } %>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--===================== Content body End =====================-->
    </section>
  </div>
  <%- include('partials/exchangeFooter.ejs') %>