<%- include('partials/adminDashboardHead.ejs') %>
<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between g-3">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">All Orders</h3>
            <div class="nk-block-des text-soft">
              <p>List of orders.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-block">
        <div class="card card-stretch">
          <div class="card-inner-group">
            <div class="card-inner">
              <div class="card-title-group">
                <ul class="nav nav-tabs nav-tabs-s2">
                  <select class="form-select" id="ordersAdmin" onchange="orderStatus()">
                    <option value="all">All Orders</option>
                    <option value="order-placed">Pending</option>
                    <option value="confirmed">Confirmed</option>
                    <option value="shipped">Shipped</option>
                    <option value="delivered">Delivered</option>
                    <option value="cancelled">Cancelled</option>
                  </select>
                </ul>
              </div>
              <p></p>
              <div>Showing page <span id="currentPageOrders"><%= currentPage %></span> out of <span id="totalPagesOrders"><%= totalPages %></span></div>
            </div>
            <div class="card-inner p-0">
              <div class="tab-content">
                <% if (orders.length === 0) { %>
                <p style="text-align: center; font-size: large; margin-top: 50px;">No orders yet!</p>
                <% }else{ %>
                <div style="margin-top: 30px;" class="table-responsive">
                  <table class="table table-bordered" style="width: auto; table-layout: auto; white-space: nowrap;">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Order Id</th>
                        <th scope="col">User</th>
                        <th scope="col">Email</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Order Note</th>
                        <th scope="col">Delivery Method</th>
                        <th scope="col">Receiver</th>
                        <th scope="col">Delivery Address</th>
                        <th scope="col">Receiver Contact</th>
                        <th scope="col">Country</th>
                        <th scope="col">City</th>
                        <th scope="col">Region</th>
                        <th scope="col">Payment Proof</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% orders.forEach(function(order, index){ %> <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= order.orderId %></td>
                        <td><%= order.user.firstName %> <%= order.user.lastName %></td>
                        <td><%= order.user.email %></td>
                        <td><%= order.productId.name %></td>
                        <% if(order.status === 'Order placed'){ %>
                        <td>
                          <div class="badge badge-dim bg-warning rounded-pill"><%= order.status %></div>
                        </td>
                        <% } else if(order.status === 'Shipped'){ %>
                        <td>
                          <div class="badge badge-dim bg-info rounded-pill"><%= order.status %></div>
                        </td>
                        <% }else if(order.status === 'Confirmed'){ %>
                        <td>
                          <div class="badge badge-dim bg-info rounded-pill"><%= order.status %></div>
                        </td>
                        <% }else if(order.status === 'Delivered'){ %>
                        <td>
                          <div class="badge badge-dim bg-success rounded-pill"><%= order.status %></div>
                        </td>
                        <% }else if(order.status === 'Cancelled'){ %>
                        <td>
                          <div class="badge badge-dim bg-dark rounded-pill"><%= order.status %></div>
                        </td>
                        <% } %>
                        <td><%= order.quantity %></td>
                        <td><%= order.total %></td>
                        <td><%= order.paymentMethod %></td>
                        <td><%= order.orderNote %></td>
                        <td><%= order.deliveryMethod %></td>
                        <td><%= order.fullName %></td>
                        <td><%= order.address %></td>
                        <td><%= order.phoneNumber %></td>
                        <td><%= order.country %></td>
                        <td><%= order.city %></td>
                        <td><%= order.region %></td>
                        <td><a href="<%= order.paymentProof %>" target="_blank">View</a></td>
                        <% const timeStamp = order.createdAt %>
                        <% const date = timeStamp.toLocaleDateString() %>
                        <% const time = timeStamp.toLocaleTimeString() %>
                        <td><%= date %> (<%= time %>)</td>
                        <td><a class="edit-order-status-modal" href="#" data-order-id="<%= order.id %>" data-bs-toggle="modal" data-bs-target="#profile-afro-product"><i class="fa-solid fa-pen-to-square fa-xl"></i></a></td>
                      </tr>
                      <% }) %>
                      <% } %>

                    </tbody>
                  </table>
                </div>
              </div>

              <div class="modal fade" role="dialog" id="profile-afro-product">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content"><a href="profile.html#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-lg">
                      <h5 class="title">Change Order Status</h5>
                      <ul class="nk-nav nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="profile.html#personal">Order Status</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="personal">
                          <p></p>
                          <div class="col-12">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                              <li><a href="#" class="btn btn-lg btn-primary confirm-order-btn">Confirmed</a></li>
                              <li><a href="#" class="btn btn-lg btn-primary ship-order-btn">Shipped</a></li>
                              <li><a href="#" class="btn btn-lg btn-primary deliver-order-btn">Delivered</a></li>
                              <li><a href="#" class="btn btn-lg btn-primary cancel-order-btn">Cancelled</a></li>
                              <li><a href="#" data-bs-dismiss="modal" class="link link-light">Close</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




            </div>
            <div class="card-inner">
              <ul class="pagination" style="display: flex; justify-content: space-between; width: 100%;">
                <li class="page-item">
                  <button id="previous-btn-orders" style="padding: 8px 18px; font-size: 14px; border-radius: 8px; font-weight: bold;" class="page-link" onclick="updateURLOrders('prev')">Prev</button>
                </li>
                <li class="page-item">
                  <button id="next-btn-orders" style="padding: 8px 18px; font-size: 14px; border-radius: 8px; font-weight: bold;" class="page-link" onclick="updateURLOrders('next')">Next</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/adminDashboardFooter.ejs') %>