<%- include('partials/kitchenHeader.ejs') %>

<!-- Breadcumb Section   S T A R T -->
<!-- <div class="breadcumb-section">
  <div class="breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">Shop</h1>
            <ul class="breadcumb-menu">
              <li><a href="index.html">Home</a></li>
              <li class="text-white">/</li>
              <li class="active">Shop</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Shop Section S T A R T -->
<div class="shop-section section-padding fix">
  <div class="shop-wrapper style1">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 order-2 order-md-1 wow fadeInUp" data-wow-delay=".3s">
          <div class="main-sidebar">
            <!-- <div class="single-sidebar-widget">
                                <h5 class="widget-title">
                                    Search
                                </h5>
                                <div class="search-widget">
                                    <form action="shop.html#">
                                        <input type="text" placeholder="Search here">
                                        <button><i class="fa-light fa-magnifying-glass"></i></button>
                                    </form>
                                </div>
                            </div> -->
            <div class="single-sidebar-widget">
              <h5 class="widget-title">
                Search
              </h5>
              <ul class="tagcloud">
                <% categories.forEach(function(category){ %>
                <li><a href="/michael-enterprise/shop/<%= category.categorySlug %>"><%= category.category %></a></li>
                <% }) %>

              </ul>
            </div>
          </div>
        </div>
       <a href="/cart"><i class="fa-solid fa-cart-shopping floating-cart" hidden style="color: #5f1303; position: fixed; right: 15px; top: 50%; transform: translateY(-50%); z-index: 1000; font-size: 30px; cursor: pointer;">
        </i></a> 
        <div class="col-xl-9 col-lg-8 order-1 order-md-2 wow fadeInUp" data-wow-delay=".5s">
          <!-- <div class="sort-bar">
                            <div class="row g-sm-0 gy-20 justify-content-between align-items-center">
                                <div class="col-md">
                                    <p class="woocommerce-result-count">Showing 1 - 12 of 30 Results</p>
                                </div>

                                <div class="col-md-auto">
                                    <form class="woocommerce-ordering" method="get">
                                        <select name="orderby" class="single-select" aria-label="Shop order">
                                            <option value="menu_order" selected="selected">Default Sorting</option>
                                            <option value="popularity">Sort by popularity</option>
                                            <option value="rating">Sort by average rating</option>
                                            <option value="date">Sort by latest</option>
                                            <option value="price">Sort by price: low to high</option>
                                            <option value="price-desc">Sort by price: high to low</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="col-md-auto">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="pills-grid-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-grid" type="button" role="tab"
                                                aria-controls="pills-grid" aria-selected="true"><i
                                                    class="fa-solid fa-grid"></i></button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-list-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-list" type="button" role="tab"
                                                aria-controls="pills-list" aria-selected="false"><i
                                                    class="fa-solid fa-list"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-grid" role="tabpanel" aria-labelledby="pills-grid-tab" tabindex="0">
              <div class="dishes-card-wrap style2">
                <% products.forEach(function(product){ %>
                <div class="dishes-card style2 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="dishes-thumb">
                    <a href="/michael-kitchen/item/<%= product.categorySlug %>/<%= product.slug %>">
                      <img src="<%= product.imageCover %>" style="width: 160px; height: 160px; border-radius: 50%; object-fit: cover;" alt="thumb">
                      <div class="circle-shape"><img class="cir36" src="/assets/img/food-items/circleShape.png" alt="shape"></div>
                    </a>
                  </div>
                  <div class="dishes-content">
                    <a href="/michael-kitchen/item/<%= product.categorySlug %>/<%= product.slug %>">
                      <h3><%= product.name %></h3>
                    </a>
                    <div class="star"><img src="https://gramentheme.com/html/fresheat/assets/img/icon/star2.svg" alt="icon"></div>
                    <!-- <div class="text">The registration fee</div> -->
                    <h6>₽<%= product.price %></h6>
                    <% if(user){ %>
                    <a href="#" data-product-id="<%= product.id %>" class="theme-btn style6 add-to-cart-btn"> Add To Cart<i class="fa-solid fa-basket-shopping"></i></a>
                    <% }else{ %>
                      <a href="/sign-in" data-product-id="<%= product.id %>" class="theme-btn style6"> Add To Cart<i class="fa-solid fa-basket-shopping"></i></a>
                    <% } %>

                  </div>
                </div>
                <% }) %>

              </div>
            </div>


            <!-- <div class="page-nav-wrap text-center">
              <ul>
                <li><a class="previous" href="shop.html"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                <li><a class="page-numbers" href="shop.html">1</a></li>
                <li><a class="page-numbers active" href="shop.html">2</a></li>
                <li><a class="page-numbers" href="shop.html">3</a></li>
                <li><a class="page-numbers" href="shop.html">...</a></li>
                <li><a class="next" href="shop.html"><i class="fa-solid fa-arrow-right-long"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%- include('partials/kitchenFooter.ejs') %>