<%- include('partials/adminDashboardHead.ejs') %>
<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between g-3">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Supports</h3>
          </div>
         </div>
      </div>
      <div class="nk-block">
        <div class="card card-stretch">
          <div class="card-inner p-0">
            <div class="tab-content">
              <% if (supports.length === 0) { %>
              <p style="text-align: center; font-size: large; margin-top: 50px;">No Support Message Available!</p>
              <% }else{ %>
              <div style="margin-top: 30px;" class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Message</th>
                      <th scope="col">Reply</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% supports.forEach(function(support, index){ %>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td><%= support.user.firstName %></td>
                      <td><%= support.user.lastName %></td>
                      <td><%= support.email %></td>
                      <td><%= support.subject %></td>
                      <td><%= support.message %></td>
                      <td><a class="reply-support-modal" href="#" data-support-id="<%= support.id %>" data-bs-toggle="modal" data-bs-target="#reply-support"><i class="fa-solid fa-reply fa-xl"></i></a></td>
                    </tr>
                    <% }) %>
                    <% } %>

                  </tbody>
                </table>
              </div>
            </div>


            <div class="modal fade" role="dialog" id="reply-support">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content"><a href="profile.html#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                  <div class="modal-body modal-body-lg">
                    <h5 class="title">Reply Support</h5>
                    <ul class="nk-nav nav nav-tabs">
                      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="profile.html#personal">Support</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                          <div class="form-group">
                            <label class="form-label" for="subject">Subject</label>
                            <input type="text" class="form-control form-control-lg" id="subject" placeholder="Subject">
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="message">Message</label>
                            <textarea id="message" placeholder="Write Message" class="form-control form-control-lg date-picker"></textarea>
                          </div>
                        </div>
                        <p></p>
                        <div class="col-12">
                          <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li><a href="#" class="btn btn-lg btn-primary reply-support-btn">Send Reply</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/adminDashboardFooter.ejs') %>