<%- include('partials/landingPageHeader.ejs') %>

<!-- Breadcrumb Section Start -->
<section class="breadcrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-contain">
          <h2>User Dashboard</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item active">User Dashboard</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- User Dashboard Section Start -->
<section class="user-dashboard-section section-b-space">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-xxl-3 col-lg-4">
        <div class="dashboard-left-sidebar">
          <div class="close-button d-flex d-lg-none">
            <button class="close-sidebar">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>

          <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#pills-dashboard" type="button"><i data-feather="home"></i>
                DashBoard</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill" data-bs-target="#pills-order" type="button"><i data-feather="shopping-bag"></i>Order</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill" data-bs-target="#pills-address" type="button" role="tab"><i data-feather="map-pin"></i>Address</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"><i data-feather="user"></i>
                Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link signOut-user-btn" id="pills-download-tab" data-bs-toggle="pill" data-bs-target="#pills-download" role="tab"><i data-feather="log-out"></i>Sign Out</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xxl-9 col-lg-8">
        <button class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none">Show
          Menu</button>
        <div class="dashboard-right-sidebar">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel">
              <div class="dashboard-home">
                <div class="title">
                  <h2>My Dashboard</h2>
                  <span class="title-leaf">
                    <svg class="icon-width bg-gray">
                      <use xlink:href="/assets/svg/leaf.svg#leaf"></use>
                    </svg>
                  </span>
                </div>

                <div class="dashboard-user-name">
                  <h6 class="text-content">Hello, <b class="text-title"><%= user.firstName %> <%= user.lastName %></b></h6>
                  <p class="text-content">From your My Account Dashboard you have the ability to
                    view a snapshot of your recent account activity and update your account
                    information. Select a link below to view or edit information.</p>
                </div>

                <div class="total-box">
                  <div class="row g-sm-4 g-3">
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                      <div class="total-contain">
                        <img src="/assets/images/svg/order.svg" class="img-1 blur-up lazyload" alt="">
                        <img src="/assets/images/svg/order.svg" class="blur-up lazyload" alt="">
                        <div class="total-detail">
                          <h5>Total Order</h5>
                          <h3><%= orders.length %></h3>
                        </div>
                      </div>
                    </div>

                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                      <div class="total-contain">
                        <img src="/assets/images/svg/wishlist.svg" class="img-1 blur-up lazyload" alt="">
                        <img src="/assets/images/svg/wishlist.svg" class="blur-up lazyload" alt="">
                        <div class="total-detail">
                          <h5>Total Wishlist</h5>
                          <h3><%= wishlists.length %></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="pills-order" role="tabpanel">
              <div class="dashboard-order">
                <div class="title">
                  <h2>My Orders History</h2>
                  <span class="title-leaf title-leaf-gray">
                    <svg class="icon-width bg-gray">
                      <use xlink:href="/assets/svg/leaf.svg#leaf"></use>
                    </svg>
                  </span>
                </div>

                <div class="order-contain">

                  <% if(orders.length === 0){ %>
                  <h3 style="text-align: center;">Yet to make an order!</h3>
                  <div style="height: 10px;"></div>
                  <!-- <div style="display: flex; justify-content: center;">
                    <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white login-btn" onclick="location.href = '/shop';" style="border-radius: 5px;">Start Shopping
                    </button>
                  </div> -->
                  <% }else{ %>
                  <% orders.forEach(function(order){ %>
                  <div class="order-box dashboard-bg-box">
                    <div class="order-container">
                      <div class="order-icon">
                        <i data-feather="box"></i>
                      </div>

                      <div class="order-detail">
                        <h4>Status
                          <% if(order.status === 'Order placed'){ %>
                          <em style="background-color: #f0cb27; color: white; padding: 5px 10px; font-size: small; display: inline-block; border-radius: 30px; font-style: normal; margin-left: 20px;"><%= order.status %></em>
                          <% }else if(order.status === 'Confirmed'){ %>
                          <em style="background-color: green; color: white; padding: 5px 10px; font-size: small; display: inline-block; border-radius: 30px; font-style: normal; margin-left: 20px;"><%= order.status %></em>
                          <% }else if (order.status === 'Shipped'){ %>
                          <em style="background-color: #0044A6; color: white; padding: 5px 10px; font-size: small; display: inline-block; border-radius: 30px; font-style: normal; margin-left: 20px;"><%= order.status %></em>
                          <% }else if (order.status === 'Delivered'){ %>
                          <em style="background-color: green; color: white; padding: 5px 10px; font-size: small; display: inline-block; border-radius: 30px; font-style: normal; margin-left: 20px;"><%= order.status %></em>
                          <% }else if (order.status === 'Cancelled'){ %>
                          <em style="background-color: red; color: white; padding: 5px 10px; font-size: small; display: inline-block; border-radius: 30px; font-style: normal; margin-left: 20px;"><%= order.status %></em>
                          <% } %>
                        </h4>

                      </div>
                    </div>

                    <div class="product-order-detail">
                      <a href="/product/<%= order.productId.superCategorySlug %>/<%= order.productId.categorySlug %>/<%= order.productId.slug %>" class="order-image">
                        <img src="<%= order.productId.imageCover %>" class="blur-up lazyload" width="150px" height="auto" alt="">
                      </a>

                      <div class="order-wrap">
                        <a href="/product/<%= order.productId.superCategorySlug %>/<%= order.productId.categorySlug %>/<%= order.productId.slug %>">
                          <h3><%= order.productId.name %></h3>
                        </a>
                        <p class="text-content"><%= order.productId.description %></p>
                        <ul class="product-size">
                          <li>
                            <div class="size-box">
                              <h6 class="text-content">Price : </h6>
                              <h5>₽<%= order.productId.price %></h5>
                            </div>
                          </li>

                          <li>
                            <div class="size-box">
                              <h6 class="text-content">Quantity : </h6>
                              <h5><%= order.quantity %></h5>
                            </div>
                          </li>

                          <li>
                            <div class="size-box">
                              <h6 class="text-content">Total : </h6>
                              <% const total = order.productId.price * order.quantity %>
                              <h5>₽<%= total  %></h5>
                            </div>
                          </li>

                          <li>
                            <div class="size-box">
                              <h6 class="text-content">Category : </h6>
                              <h5><%= order.productId.category %></h5>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                  <% } %>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-address" role="tabpanel">
              <div class="dashboard-address">
                <div class="title title-flex">
                  <div>
                    <h2>My Address Book</h2>
                    <span class="title-leaf">
                      <svg class="icon-width bg-gray">
                        <use xlink:href="/assets/svg/leaf.svg#leaf"></use>
                      </svg>
                    </span>
                  </div>
                </div>

                <div class="row g-sm-4 g-3">
                  <% if(shippingAddress){ %>
                  <form class="shipping-address-form">
                    <div class="right-sidebar-box">
                      <div class="row">

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="fullName2" class="form-label">Full Name</label>
                            <div class="custom-input">
                              <input type="text" value="<%= shippingAddress.fullName %>" class="form-control" id="fullName2" placeholder="Enter Full Name">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="phoneNumber2" class="form-label">Phone Number</label>
                            <div class="custom-input">
                              <input type="text" value="<%= shippingAddress.phoneNumber %>" class="form-control" id="phoneNumber2" placeholder="Enter Phone Number">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-12 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="address2" class="form-label">Address</label>
                            <div class="custom-input">
                              <input type="text" value="<%= shippingAddress.address %>" class="form-control" id="address2" placeholder="Enter Address">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="country2" class="form-label">Country</label>
                            <div class="custom-input">
                              <input type="text" value="<%= shippingAddress.country %>" class="form-control" id="country2" placeholder="Enter Full Name">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="region2" class="form-label">Region</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= shippingAddress.region %>" id="region2" placeholder="Enter Phone Number">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="city2" class="form-label">City</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= shippingAddress.city %>" id="city2" placeholder="Enter City">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="passportNumber2" class="form-label">Passport Number</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= shippingAddress.passportNumber %>" id="passportNumber2" placeholder="Enter Phone Number">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="postOfficeAddress2" class="form-label">Post Office Address</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= shippingAddress.postOfficeAddress %>" id="postOfficeAddress2" placeholder="Enter City">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="postalCode2" class="form-label">Postal Code</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= shippingAddress.postalCode %>" id="postalCode2" placeholder="Enter City">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white edit-address-btn" data-address-id="<%= shippingAddress.id %>">Save Changes</button>
                  </form>
                  <% }else{ %>
                  <form class="create-shipping-address-form">
                    <div class="right-sidebar-box">
                      <div class="row">

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="fullName2" class="form-label">Full Name</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="phoneNumber2" class="form-label">Phone Number</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="phoneNumber" placeholder="Enter Phone Number">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-12 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="address2" class="form-label">Address</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="address" placeholder="Enter Address">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="country2" class="form-label">Country</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="country" placeholder="Enter Full Name">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="region2" class="form-label">Region</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="region" placeholder="Enter Phone Number">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="city2" class="form-label">City</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="city" placeholder="Enter City">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="passportNumber2" class="form-label">Passport Number</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="passportNumber" placeholder="Enter Phone Number">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="postOfficeAddress2" class="form-label">Post Office Address</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="postOfficeAddress" placeholder="Enter City">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="postalCode2" class="form-label">Postal Code</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" id="postalCode" placeholder="Enter City">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white save-address-btn">Save</button>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-profile" role="tabpanel">
              <div class="dashboard-privacy">
                <div class="dashboard-bg-box">
                  <div class="dashboard-title mb-4">
                    <h3>User Profile</h3>
                  </div>

                  <form class="update-user-data-form">
                    <div class="right-sidebar-box">
                      <div class="row">

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="userFirstName" class="form-label">First Name</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= user.firstName %>" id="firstName" placeholder="First Name">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="userLastName" class="form-label">Last Name</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= user.lastName %>" id="lastName" placeholder="Last Name">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="userEmail" class="form-label">Email</label>
                            <div class="custom-input">
                              <input type="email" class="form-control" value="<%= user.email %>" id="email" disabled placeholder="Email">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="userPhoneNumber" class="form-label">Phone Number</label>
                            <div class="custom-input">
                              <input type="text" class="form-control" value="<%= user.phoneNumber %>" id="phoneNumber" placeholder="Phone Number">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white update-btn">Save
                      Changes
                    </button>
                  </form>
                </div>

                </form>




              </div>

              <div class="dashboard-bg-box mt-4">
                <div class="dashboard-title mb-4">
                  <h3>Password Settings</h3>
                </div>

                <form class="user-password-update-form">
                  <div class="right-sidebar-box">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="col-xxl-12 col-lg-12 col-sm-12">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="passwordCurrenct" class="form-label">Current Password</label>
                            <div class="custom-input">
                              <input type="password" class="form-control" id="passwordCurrent" placeholder="********">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-12 col-lg-12 col-sm-12">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="password" class="form-label">New Password</label>
                            <div class="custom-input">
                              <input type="password" class="form-control" id="password" placeholder="********">
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-12 col-lg-12 col-sm-12">
                          <div class="mb-md-4 mb-3 custom-form">
                            <label for="passwordConfirm" class="form-label">Confirm Password</label>
                            <div class="custom-input">
                              <input type="password" class="form-control" id="passwordConfirm" placeholder="********">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn theme-bg-color btn-md fw-bold mt-4 text-white update-user-password-btn">Save
                    Changes
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- User Dashboard Section End -->

<%- include('partials/landingPageFooter.ejs') %>