<%- include('partials/landingPageHeader.ejs') %>

<!-- Breadcrumb Section Start -->
<section class="breadcrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-contain">
          <h2>Wishlist</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="index-8.html">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item active">Wishlist</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Wishlist Section Start -->
<section class="wishlist-section section-b-space">
  <div class="container-fluid-lg">
    <div class="row g-sm-3 g-2">

      <% if(wishlists.length === 0){ %>
      <h3 style="text-align: center;">Wishlist is empty!</h3>
      <% }else{ %>
      <% wishlists.forEach(function(wishlist){ %>
      <div class="col-xxl-2 col-lg-3 col-md-4 col-6 product-box-contain">
        <div class="product-box-3 h-100">
          <div class="product-header">
            <div class="product-image">
              <a href="/product/<%= wishlist.productId.superCategorySlug %>/<%= wishlist.productId.categorySlug %>/<%= wishlist.productId.slug %>">
                <img src="<%= wishlist.productId.imageCover %>" loading="lazy" class="img-fluid blur-up lazyload" alt="">
              </a>

              <div class="product-header-top">
                <button class="btn wishlist-button close_button remove-from-wishlist" data-product-id="<%= wishlist.productId.id %>">
                  <i data-feather="x"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="product-footer">
            <div class="product-detail">
              <span class="span-name"><%= wishlist.productId.category %></span>
              <a href="/product/<%= wishlist.productId.superCategorySlug %>/<%= wishlist.productId.categorySlug %>/<%= wishlist.productId.slug %>">
                <h5 class="name"><%= wishlist.productId.name %></h5>
              </a>
              <h5 class="price">
                <span class="theme-color">₽<%= wishlist.productId.price %></span>
              </h5>

              <div class="add-to-cart-box bg-white mt-2">
                <button class="btn btn-add-cart addcart-button add-to-cart-from-wishlist" data-product-id="<%= wishlist.productId.id %>">Add To Cart
                  <span class="add-icon bg-light-gray">
                    <i class="fa-solid fa-plus"></i>
                  </span>
                </button>
                <div class="cart_qty qty-box">
                  <div class="input-group bg-white">
                    <button type="button" class="qty-left-minus bg-gray" data-type="minus" data-field="">
                      <i class="fa fa-minus"></i>
                    </button>
                    <input class="form-control input-number qty-input" type="text" name="quantity" value="0">
                    <button type="button" class="qty-right-plus bg-gray" data-type="plus" data-field="">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <% } %>


    </div>
  </div>
</section>
<!-- Wishlist Section End -->

<%- include('partials/landingPageFooter.ejs') %>